<main class="main">
  <div class="main__container">
    <div class="image">
      <img src="https://via.placeholder.com/746x1200" alt="Vitalie Melnic" class="image__img">
    </div>
    <div class="about">
      <div class="about__container">
        <p class="about__intro">Hi there! </p>
        <h1 class="about__heading">I'm
          <span class="about__name">Vitalie Melnic</span>
        </h1>
        <p class=about__description>
          I'm a Moldavian based developer focused on crafting clean & user‑friendly experiences, I am
          passionate about building excellent software that improves the lives of those around me.
        </p>
        <button class='mybutton'>
          More about me
          <i class="mybutton__icon">
            <svg>
              <use xlink:href="#icon-user" />
            </svg>
          </i>
        </button>
      </div>
    </div>


  </div>
  <%= render "shared/nav"  %>
</main>