
<div class="container">
   <div class="header my-5">
      <h1 class= "header__h1">My <span class= "header__color">portfolio</span>
      <span class="header__back">work</span>
      </h1>
   </div>

     <%= link_to  "Create new item", new_recentwork_path  if logged_in?(:site_admin)%>

    <div class="row">
      <%= render partial:"item" ,collection: @portfolios  %>
    </div>
</div>



