
<div class="container">
   <h1 class= "header text-center my-5">My recent works</h1>


     <%= link_to  "Create new item", new_recentwork_path  if logged_in?(:site_admin)%>

<div class="row">
      <%= render partial:"item" ,collection: @portfolios  %>
   </div>
</div>



