
<div class="container">
   <div class="header my-5">
      <h1 class= "header__h1">My <span class= "header__color">portfolio</span>
      <span class="header__back">work</span>
      </h1>
   </div>

 <%= add_portfolio_items %>

    <div class="row">
      <%= render partial:"item" ,collection: @portfolios  %>
    </div>
</div>



