<div class="container">

<div class="container">
 
   <div class="header my-5">
      <h1 class= "header__h1 text-center">my  <span class= "header__color">blog</span>
      <span class="header__back">posts</span>
      </h1>
   </div>
 
</div>


<p id="notice"><%= notice %></p>

    <%= render @blogs %>
    
<%= link_to 'New Blog', new_blog_path %>
</div>