<% @github %>
<% @live %>

<div class="links">

  <%= link_to   @github , :target => "_blank",class:"links__container"   do%>
      <span class="links__text">Github</span>
      <i class="links__icon">
        <svg>
          <use xlink:href="#icon-github" />
        </svg>
      </i>
  <% end %>

  <%= link_to  @live , :target => "_blank",class:"links__container" do%>
      <span class="links__text">Live</span>
        <i class="links__icon">
        <svg>
          <use xlink:href="#icon-earth" />
        </svg>
      </i>
  <% end %>

   <%= edit_item(@portfolio_item) %>

</div>