<div class="social">
  <%= render "shared/icons" %>
  <%= link_to "https://www.linkedin.com/in/vitaliemelnic/",target: :_blank, class: "social__link" do  %>
  <i class="social__icon">
        <svg>
          <use xlink:href="#icon-linkedin" />
        </svg>
      </i>
  <% end %>


    <%= link_to "https://github.com/vmwhoami",target: :_blank, class: "social__link" do  %>
  <i class="social__icon">
        <svg>
          <use xlink:href="#icon-github" />
        </svg>
      </i>
  <% end %>

     <%= link_to "https://twitter.com/vmwhoami" ,target: :_blank,class: "social__link" do  %>
  <i class="social__icon">
        <svg>
          <use xlink:href="#icon-twitter" />
        </svg>
      </i>
  <% end %>

</div>