
<% page_title "About page" %>

<div class="container">
   <div class="header my-5">
      <h1 class= "header__h1 text-center">about <span class= "header__color">me</span>
      <span class="header__back">resume</span>
      </h1>
   </div>
</div>