

<main class= "main">
  <div class="image">
   <img src="https://via.placeholder.com/746x1200" alt="Vitalie Melnic" class="image__img">
  </div>
  <div class="about">
    <p class="about__intro">Hi there </p>
    <h1 class="about__name">I'm Vitalie
      <span class="about__surname">Melnic</span>
    </h1>
    <p class = about__description>
    I'm a Moldavian based  developer focused on crafting clean & user‑friendly experiences, I am 
     passionate about building excellent software that improves the lives of those around me.
    </p>
    <button class='btn'>More about me</button>
  </div>
  
</main>