<main class="main">
  <div class="main__container">
    <div class="image">
    
<%= image_tag "my_picture.jpg", class:"image__img" %>
    
   
    </div>
    <div class="about">
      <div class="about__container">
        <p class="about__intro">Hi there! </p>
        <h1 class="about__heading">I'm
          <span class="about__name">Vitalie Melnic</span>
        </h1>
        <p class=about__description>
          I'm a Moldavian based developer focused on crafting clean & user‑friendly experiences, I am
          passionate about building excellent software that improves the lives of those around me.
        </p>
          <%= render  "shared/mybutton" %>
          <div class="social__container">
          <%= render  "shared/social_icons" %>
          </div>
      </div>
    </div>
  </div>
</main>