

<main class= "main">
  <div class="image">
   <img src="" alt="Vitalie Melnic" class="image__img">
  </div>
  <div class="about">
    <p class="intro">Hi there 
      <h1 class="name">Vitalie
        <span class="surname">Melnic</span>
      </h1>
    </p>
  </div>
</main>