
.mybutton,
.mybutton:focus,
.mybutton:active{
  display: inline-block;
  text-transform: uppercase;
  background-color: $main-color; // color variable
  color: azure;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1.5rem 3rem;
  border: none;
  outline: none;
  border-radius: 2.5rem;
 
  transition: all .3s;

  &:hover
  {
    border: none;
  }


}
