@import 'variables';
/* Form */
  .contact_form input[type=text],
  .contact_form input[type=email] {
  border: 1px solid $black-color;
  width: 100%;
  background: $grey-color;
  color: #fff;
  padding: 1rem 2.5rem;
  margin-bottom: 3rem;
  border-radius: 2rem;
  outline: none !important;
  transition: .3s;
}

  .contact_form textarea {
  border: 1px solid $black-color;
  background: $grey-color;
  color:$white-color;
  width: 100%;
  padding: 1rem 2.5rem;
  margin-bottom: 2rem;
  height: 16rem;
  overflow: hidden;
  border-radius: 2rem;
  outline: none !important;
  transition: .3s;
}

 .contact_form .form-message {
  margin: 2.5rem 0;
}

 .contact_form .output_message {
  display: block;
  color: #fff;
  height: 4.5rem;
  line-height: 4.5rem;
  border-radius: 2rem;
}

  .contact_form .output_message.success {
  background: #28a745;
}
 .contact_form .output_message.success:before {
 
  content: "\f14a";
  padding-right: 1rem;
}
  .contact_form .output_message.error {
  background: #dc3545;
}

  .contact_form .output_message.error:before {
 
  content: "\f071";
  padding-right: 1rem;
}

.contact{

  &__container{
    margin-top: 8rem;
  }

  &__title{
    font-size: 2.5rem;
    font-weight: 700;
  }

 display: flex;
 align-items: center;
 margin-top: 2rem;
&__icon{

  svg{
    width: 5rem;
    height: 5rem;
    fill: $main-color;
  }
}
 
  &__details{
  margin-left: 1rem;
 

    & p:first-child {
      margin: 0;
 
      text-transform: uppercase;
    }
    & p:nth-child(2){
      margin: 0;
      font-size: 1.3rem;
     
    }
  }

  &__button{
    font-size: 1.8rem;
    padding: 1rem 4rem;
    text-transform: uppercase;
    font-weight: 600;
    background-position: 90% 50%;
    background-repeat:no-repeat;
    background-color: $main-color;
    color: $white-color;
    border: none;
    border-radius: 5rem;
    transition: all .3s;

    &:hover{
      background-image:url('SVG/paper-plane.svg');
      background-position: 94% 50%;
      background-repeat:no-repeat;
      
    }
  }
}