.mynav{
  position: fixed;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &__link{
    width: 5rem;
    height: 5rem;
    font-size: 1.6rem;
    margin: 2rem 0;
    background-color: rgb(49, 49, 49);
    border-radius: 50%;
    display: flex;
    align-items: center;
    transition: all .3s;

      &:hover,
      &:active{
        background-color: $main-color;
      }
    &__a,
    &__a:link{
       display: none;
      }


    &__a:hover{
      color: $white;
    }
  }

  &__icon{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
