@import 'variables';

.mynav{
  position: fixed;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10000;

  &__link{
    position: relative;
    width: 5rem;
    height: 5rem;
    font-size: 1.6rem;
    margin: 2rem 0;
    background-color:$grey-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    transition: all .3s;

      &:hover,
      &:active{
        background-color: $main-color;
      }
  
    &__a,
    &__a:link{
      color: transparent;
      text-decoration: none;
      background-color: rgba(255, 0, 0, 0);
      position: absolute;
      z-index: 30;
      transform-origin: right;
      transform: translate(-75%,-140%);
      
      font-size: 2rem;
      font-weight: 700;
      width: 10rem;
      height: 5rem;
      border-radius: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      transition: transform cubic-bezier(0.44, 0.87, 0.83, 1.00) .3s,
      width cubic-bezier(.04,.43,.76,.93) .1s ;


      &:hover{
        color: $white-color;
        background-color:$main-color;
        width: 20rem;
      }
    
    
    }

  }  

  &__icon{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

}

.mynav__link:hover + .mynav__link__a {
  color: $white-color;
  width: 20rem;
  background-color:$main-color;
}